.contenedorInicio{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 0;
    overflow: hidden;
}

.productive{
    color: #fff;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.texto{
    color: #001858;
    font-size: 3rem;
    margin-bottom: .8em;
}
.imagen{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}