.contenedorInicio{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}

.productive{
    color: #001858;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.productive_title{
    font-size: 3rem;
    margin-bottom: .8em;
}

.productive_paragraph{
    line-height: 1.7;
    margin-bottom: 1em;
}

/* .productive_cta{
    display: inline-block;
    color: hsl(176, 68%, 64%);
    line-height: 2.5;
    text-decoration: none;
    border-bottom: 1px solid hsl(176, 68%, 64%);
} */

.productive_cta{
    display: inline-block;
    background-color: #F582AE;
    color: #001858;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 550;
}

.productive_arrow{
    width: 30px;
    margin-left: .1em;
    vertical-align: middle;
}


.imagen{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    margin-left: 30px;
}

@media screen and (max-width: 1000px){
    .imagen img{
        width: 450px;
        height: 450px;
    }
} 

@media screen and (max-width: 620px){
    .productive{
        grid-template-columns: 1fr;
    }

    .imagen img{
       order: 1;
    }
    .productive_text{
        order: 2;
    }
} 
 
@media screen and (max-width: 575px){
    .imagen img{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 500px){
    .imagen img{
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 460px){
    .imagen img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 380px){
    .imagen img{
        width: 250px;
        height: 250px;
    }
}

