.footer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    color: #2ABCC8;
}

.footer .creador{
    height: 2.8em;
 width: 60%;
 background: transparent;
 -webkit-animation: jello-horizontal 0.9s both;
 animation: jello-horizontal 0.9s both;
 border: 3px solid #2ABCC8;
 outline: none;
 color: #2ABCC8;
 font-size: 20px;
 cursor: pointer;
 display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer .creador svg{
    width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.footer .creador:hover {
    background: #2ABCC8;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
   }
   
   @keyframes squeeze3124 {
    0% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
   
    30% {
     -webkit-transform: scale3d(1.25, 0.75, 1);
     transform: scale3d(1.25, 0.75, 1);
    }
   
    40% {
     -webkit-transform: scale3d(0.75, 1.25, 1);
     transform: scale3d(0.75, 1.25, 1);
    }
   
    50% {
     -webkit-transform: scale3d(1.15, 0.85, 1);
     transform: scale3d(1.15, 0.85, 1);
    }
   
    65% {
     -webkit-transform: scale3d(0.95, 1.05, 1);
     transform: scale3d(0.95, 1.05, 1);
    }
   
    75% {
     -webkit-transform: scale3d(1.05, 0.95, 1);
     transform: scale3d(1.05, 0.95, 1);
    }
   
    100% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
   }