


.titulares{
  padding: 1rem;
  background-color: #284b63;
  color: #d9d9d9;
}
/*Principal*/

.contenedorPrincipal{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-image{
  min-height: 100vh;
  background-image: url("../src/assets/images/principal.jfif");
  background-repeat: no-repeat;
  color: #d9d9d9;
}
.hero-image div{
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.664);
}
.hero-image h1{
  font-size: 5vw;
  width: 85vw;
}

main{
  flex-grow: 1;
  width: 95%;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: auto;
}


main .card{
  width: 330px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

main .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

main .card img{
  width: 330px;
  height: 220px;
}


main .card h4{
  font-weight: 600;
  color: #353535;
}


main .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3c6e71;
}