.li1{
    color: red;
}

.publicidad{
  height: 30vh;
}

.figurasContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}

.subContenedorFiguras{
  width: 60%;
  margin: 0 auto;
  background-color: #8BD3DD;
  border-radius: 15px;
  padding: 15px;
}

.subContenedorFiguras .figuraImg{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.subContenedorFiguras .figuraImg img{
  width: 250px;
  height: 250px;
}

.figuraInput{
  text-align: center;
}


.figuraInput .formFigura .botonCalcular{
  width: 97%;
  text-align: right;
}

.figuraInput .formFigura .botonCalcular button{
  background-color: #F582AE;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 3px;
}

.formFigura .gridForm{
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.formFigura .gridForm label{
  margin-top: 15px;
  text-align: left;
}
.formFigura .inputFigura{
  padding: 15px 20px;
  font: inherit;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 0.5em;
  width: 90%;
  text-align: right;
  grid-column: span 2;
}


@media screen and (max-width: 800px){
  .subContenedorFiguras{
    width: 70%;
  }
}

@media screen and (max-width: 700px){
  .subContenedorFiguras{
    width: 85%;
  }
}

@media screen and (max-width: 550px){
  .subContenedorFiguras{
    width: 94%;
  }
  
}

@media screen and (max-width: 500px){
  .figuraInput{
    width: 90%;
  }

  .subContenedorFiguras{
    border-radius: 0px;
  }
  
}